<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pivotal.tokyo.concourse.worker.darwin</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/concourse</string>
        <string>worker</string>
        <string>--work-dir</string>
        <string>/opt/concourse/worker</string>
        <string>--tsa-host</string>
        <string>127.0.0.1</string>
        <string>--tsa-public-key</string>
        <string>/Users/pivotal/workspace/concourse/keys/tsa_host_key.pub</string>
        <string>--tsa-worker-private-key</string>
        <string>/Users/pivotal/workspace/concourse/keys/darwin-worker/darwin_worker_key</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/concourse/darwin-worker-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/concourse/darwin-worker-stderr.log</string>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
